header {
  background: red;
}

.navbar {
  display: inline-block;
  background-color: #1a8cff;
}
.navbar .container .navbar-logo {
  padding: 5px;
  margin-bottom: 0;
}
.navbar .container .navbar-logo img {
  width: 45px;
  height: 45px;
  border-radius: 40%;
  border: 4px solid lightgrey;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.navbar .container .navbar-logo:hover {
  padding: 5px;
  margin-bottom: 0;
}
.navbar .container .navbar-logo:hover img {
  width: 45px;
  height: 45px;
  border-radius: 40%;
  border: 4px solid yellow;
}
.navbar .container button {
  margin-right: 15px;
  border: 2px solid white;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.navbar .container button:hover {
  margin-right: 15px;
  border: 4px solid yellow;
}
.navbar .container .options-area .navbar-nav {
  margin-left: auto;
  margin-right: 15px;
}
.navbar .container .options-area .navbar-nav li span {
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.navbar .container .options-area .navbar-nav li span:hover {
  font-weight: bold;
  color: yellow;
}

#interactive-area {
  margin-top: 70.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}
#interactive-area #dashboard-logo {
  margin-top: 50.5px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#interactive-area #dashboard-logo img {
  border-radius: 80%;
  border: 5px solid lightgrey;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}
#interactive-area #dashboard-logo img:hover {
  border-radius: 80%;
  border: 5px solid yellow;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}